.header{
    background-color: #054b05;
    width: 100%;
    height: 1000px;
}
body{
    margin: 0;
}

.logo{
    width: 50%;
    padding-top: 85px;
    float: left;

}

.logo-text{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 200px;
    
}

.video{
    margin-left: 450px;
    font-size: 35px;


    
    
}

.nasar{
    
    color: #f7f1f1;
    font-size: 40px;
    color: #f5f0f0;
    margin-top: 30px;
    margin-left: 200px;
    font-weight: 600;
    
}

.oldclass{
    color: #fff;
}
